## Importing Libraries

In [103]:
import os
import pandas as pd

## Initial Exploration

In [104]:
# Read .csv file and display first 5 rows of the DataFrame
grocery_sales = pd.read_csv("datasets/grocery_sales.csv", index_col="index")
grocery_sales.head()

       Store_ID        Date  Dept  Weekly_Sales
index
0             1  2010-02-05     1      24924.50
1             1  2010-02-05    26      11737.12
2             1  2010-02-05    17      13223.76
3             1  2010-02-05    45         37.44
4             1  2010-02-05    28       1085.29

In [105]:
# Display data types
grocery_sales.dtypes

Store_ID          int64
Date             object
Dept              int64
Weekly_Sales    float64
dtype: object

In [106]:
# Display columns with null values and total numbers
grocery_sales.isna().sum()

Store_ID         0
Date            39
Dept             0
Weekly_Sales    38
dtype: int64

In [107]:
# Read .parquet file into a DataFrame and print first 5 rows
extra_data = pd.read_parquet("datasets/extra_data.parquet")
extra_data.set_index("index", inplace=True)
extra_data.head()

,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
index,,,,,,,,,,,,
0,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3.0,151315.0
1,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3.0,151315.0
2,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3.0,151315.0
3,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,NaN,3.0,151315.0
4,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,NaN,3.0,151315.0

In [108]:
# Display data types
extra_data.dtypes

IsHoliday         int64
Temperature     float64
Fuel_Price      float64
MarkDown1       float64
MarkDown2       float64
MarkDown3       float64
MarkDown4       float64
MarkDown5       float64
CPI             float64
Unemployment    float64
Type            float64
Size            float64
dtype: object

In [109]:
# Display the number of null values in columns
extra_data.isna().sum()

IsHoliday        0
Temperature      0
Fuel_Price       0
MarkDown1        0
MarkDown2        0
MarkDown3        0
MarkDown4        1
MarkDown5        1
CPI             47
Unemployment    37
Type             1
Size             1
dtype: int64

## Data Extraction and Integration

In [110]:
def extract(csv_path, par_path):
    """ Extract data from .csv and .parquet files and merge them on their respective index columns."""
    
    csv_df = pd.read_csv(csv_path)
    par_df = pd.read_parquet(par_path)
    merged_df = csv_df.merge(par_df, left_on="index", right_on="index")
    merged_df.set_index("index", inplace=True)
    
    return merged_df

In [111]:
# Call the extract() function and store it in 'merged_df' variable
merged_df = extract("datasets/grocery_sales.csv", "datasets/extra_data.parquet")
# Display first 10 rows
merged_df.head(10)

,Store_ID,Date,Dept,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
index,,,,,,,,,,,,,,,,
0,1,2010-02-05,1,24924.50,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3.0,151315.0
1,1,2010-02-05,26,11737.12,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3.0,151315.0
2,1,2010-02-05,17,13223.76,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3.0,151315.0
3,1,2010-02-05,45,37.44,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,NaN,3.0,151315.0
4,1,2010-02-05,28,1085.29,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,NaN,3.0,151315.0
5,1,2010-02-05,79,46729.77,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,NaN,3.0,151315.0
6,1,2010-02-05,55,21249.31,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,NaN,3.0,151315.0
7,1,2010-02-05,5,32229.38,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,NaN,3.0,151315.0
8,1,2010-02-05,58,7659.97,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,NaN,3.0,151315.0
9,1,2010-02-05,7,NaN,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,NaN,3.0,151315.0

## Data Transformation

In [112]:
def transform(df):
    """ Performs several data transformation steps on the input DataFrame."""

    # Fill missing values with columns' mean or mode values
    df.fillna({
        'Weekly_Sales':df['Weekly_Sales'].mean(),
        'CPI':df['CPI'].mean(),
        'Unemployment':df['Unemployment'].mean(),
        'MarkDown4':df['MarkDown4'].mode(),
        'MarkDown5':df['MarkDown5'].mode(),
        'Type':df['Type'].mode(),
        'Size':df['Size'].mode(),
    }, inplace= True)
    # Fill 'Date' column with forward fill method
    df['Date'].fillna(method = 'ffill', inplace=True)

    # Convert 'Date' column into datetype, extract the month number and assign it to 'Month' column
    df['Month'] = pd.to_datetime(df['Date'], yearfirst=True).dt.month

    # Filter out rows where 'Weekly_Sales' is less than 10.000$
    df = df[df['Weekly_Sales'] > 10000]

    # Filter out irrelevant columns
    df = df[["Store_ID","Month","Dept","IsHoliday","Weekly_Sales","CPI","Unemployment"]]

    return df

In [113]:
# Call the transform() function and assign it to 'clean_data' variable.
clean_data = transform(merged_df)
#Print first 10 rows
clean_data.head(10)

,Store_ID,Month,Dept,IsHoliday,Weekly_Sales,CPI,Unemployment
index,,,,,,,
0,1,2,1,0,24924.500000,211.096358,8.106000
1,1,2,26,0,11737.120000,211.096358,8.106000
2,1,2,17,0,13223.760000,211.096358,8.106000
5,1,2,79,0,46729.770000,211.096358,7.500052
6,1,2,55,0,21249.310000,211.096358,7.500052
7,1,2,5,0,32229.380000,211.096358,7.500052
9,1,2,7,0,17687.873058,211.096358,7.500052
10,1,2,83,0,17687.873058,211.096358,8.106000
11,1,2,9,0,17687.873058,211.096358,8.106000
12,1,2,87,0,17687.873058,211.096358,8.106000

## Data Aggregation

In [114]:
def avg_monthly_sales(df):
    """ Calculates the average monthly sales from input DataFrame. """

    # Group by 'Month' column and calculate means
    df = pd.DataFrame(data=df.groupby("Month").Weekly_Sales.agg("mean"))
    # Reset index of the output DataFrame
    df.reset_index(inplace=True)
    # Define column names
    df.columns = ["Month", "Avg_Sales"]
    # Round 'Avg_Sales' values to 2 decimals
    df["Avg_Sales"] = df["Avg_Sales"].round(decimals=2)
    
    return df

In [115]:
# Call avg_monthly_sales() column and  assign it to 'agg_data' variable.
agg_data = avg_monthly_sales(clean_data)
# Display the output DataFrame
agg_data.head(12)

    Month  Avg_Sales
0       1   33174.18
1       2   34331.35
2       3   33220.89
3       4   33390.86
4       5   33339.89
5       6   34582.47
6       7   33922.76
7       8   33644.79
8       9   33258.05
9      10   32731.06
10     11   36594.03
11     12   39238.80

## Data Export

In [116]:
def load(df1, df2, path1, path2):
    """ Save DataFrames to CSV files and export to input paths."""
    # Save DataFrames to CSV files, using input paths
    df1.to_csv(path1, index=False)
    df2.to_csv(path2, index=False)

In [117]:
# Call load() function
load(clean_data, agg_data, "clean_data.csv", "agg_data.csv")

## Data Validation

In [118]:
def validation(path1, path2):
    """ Raise an exception if the csv files are not present in input paths."""
    
    if os.path.exists(path1) == 0:
        raise Exception("Path 1 does not exists.")
    if os.path.exists(path2) == 0:
        raise Exception("Path 2 does not exists.")

In [119]:
# Call validation() function
validation("clean_data.csv", "agg_data.csv")

In [101]:
# Remove loaded .csv files
os.remove("agg_data.csv")
os.remove("clean_data.csv")